body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.main-navigation {
    font-size: 14px;
    line-height: 24;
    color: #4E4B66;
}
.site-maine,
.site-navigation,
.user-navigation {
    list-style: none;
}

.site-maine a,
.site-navigation a,
.user-navigation a {
    color: #4E4B66;
}
.site-maine a:hover,
.site-maine a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: aqua;
}
.main-header-logo {
    width: 547px;
    height: 978px;
    top: 24px;
    left: 1825px;
}

.main-footer {
    color: #ffffff;
    background-color: #4E4B66;
    background-position: 0 0;
    background-repeat: repeat;
    padding: 80px 8px 40px;
    height: 593px;
    width: 100%;
    top: 5545px;
    left: 0px;
    bottom: 0px;
}
 .container a {
   color: #ffffff ;
}

.main-footer .container {
    display: flex;
    justify-content: space-around;
}
ul {
    list-style: none;
}
